[submodule "include/PUTM_DV_CAN_LIBRARY_MULTIPLE_SOCKETS"]
	path = include/PUTM_DV_CAN_LIBRARY_MULTIPLE_SOCKETS
	url = git@github.com:PUT-Motorsport/PUTM_DV_CAN_LIBRARY_MULTIPLE_SOCKETS.git
	branch = main
